_auth = ZW1tZW5rbzphV0g2MjhjREZsMEU=
init.author.name = Nicola Molinari
init.author.email = nicola.molinari@commercetools.de
email = nicola.molinari@commercetools.de

[_token]
AuthSession = ZW1tZW5rbzo1MjcyN0EwMjqRyl4q-BM57L6rgdeOCrwp2r2kIg
version = 1
expires = 1383270050615
path = /
httponly = true
